body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }

  a {
      color: #007bff; 
      text-decoration: none; 
      transition: color 0.3s ease; 
    }

  a:hover {
    text-decoration: underline; 
    color: #0056b3; 
  }
